In [2]:
import pandas as pd

# Read the Data Set and Replace the Dash with Zeros

In [3]:
# Read data file in df variable
df=pd.read_csv('Laliga.csv',skiprows=1)
print (df)

    Pos                 Team  Seasons Points GamesPlayed GamesWon GamesDrawn  \
0     1          Real Madrid       86   4385        2762     1647        552
1     2            Barcelona       86   4262        2762     1581        573
2     3      Atletico Madrid       80   3442        2614     1241        598
3     4             Valencia       82   3386        2664     1187        616
4     5      Athletic Bilbao       86   3368        2762     1209        633
5     6              Sevilla       73   2819        2408      990        531
6     7             Espanyol       82   2792        2626      948        608
7     8        Real Sociedad       70   2573        2302      864        577
8     9             Zaragoza       58   2109        1986      698        522
9    10           Real Betis       51   1884        1728      606        440
10   11  Deportivo La Coruna       45   1814        1530      563        392
11   12           Celta Vigo       51   1789        1698      586        389
12   13           Valladolid       42   1471        1466      463        384
13   14     Racing Santander       44   1416        1428      453        336
14   15       Sporting Gijon       43   1389        1458      471        358
15   16              Osasuna       37   1351        1318      426        327
16   17               Malaga       36   1314        1255      390        330
17   18               Oviedo       38   1174        1192      408        292
18   19             Mallorca       27   1148         988      333        256
19   20           Las Palmas       33   1020        1096      367        242
20   21           Villarreal       17    970         646      266        172
21   22              Granada       23    667         742      218        175
22   23       Rayo Vallecano       17    662         652      189        148
23   24                Elche       21    606         678      203        180
24   25               Getafe       12    553         456      147        112
25   26             Hercules       20    538         628      184        149
26   27             Tenerife       13    510         494      155        128
27   28               Murcia       18    445         586      145        143
28   29               Alaves       12    421         380      125         81
29   30              Levante       11    416         402      113         95
..  ...                  ...      ...    ...         ...      ...        ...
31   32             Sabadell       14    353         426      129         95
32   33                Cadiz       12    343         448      104        127
33   34             Logrones        9    293         346       96         92
34   35            Castellon       11    285         334      103         79
35   36             Albacete        7    277         270       76         76
36   37              Almeria        6    242         228       62         56
37   38              Cordoba        9    230         282       82         63
38   39           Compostela        4    190         160       52         45
39   40           Recreativo        5    188         186       50         46
40   41            Burgos CF        6    168         204       59         50
41   42           Pontevedra        6    150         180       53         44
42   43             Numancia        4    148         152       37         37
43   44                Eibar        3    132         114       35         27
44   45               Arenas        7    107         130       43         21
45   46          Real Burgos        3     96         114       26         44
46   47            Gimnastic        4     91         116       34         16
47   48          Extremadura        2     83          80       20         23
48   49               Merida        2     81          80       19         24
49   50             Alcoyano        4     76         108       30         16
50   51                 Jaen        3     71          90       29         13
51   52           Real Union        4     56          72       21         14
52   53           AD Almeria        2     52          68       17         18
53   54               Europa        3     42          54       18          6
54   55               Lleida        2     40          68       13         14
55   56              Leganes        1     35          38        8         11
56   57                Xerez        1     34          38        8         10
57   58               Condal        1     22          30        7          8
58   59      Atletico Tetuan        1     19          30        7          5
59   60     Cultural Leonesa        1     14          30        5          4
60   61               Girona        1      -           -        -          -

   GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
0        563     5947         3140       33        23     8      8     3
1        608     5900         3114       25        25    12     12     4
2        775     4534         3309       10         8    16      9     7
3        861     4398         3469        6         6    10     11    10
4        920     4631         3700        8         7    10      5     8
5        887     3680         3373        1         4     4      5    12
6       1070     3609         3889        -         -     4      5     2
7        861     3228         3230        2         3     2      5     4
8        766     2683         2847        -         1     4      5     4
9        682     2159         2492        1         -     2      3     4
10       575     2052         2188        1         5     4      1     -
11       723     2278         2624        -         -     -      2     4
12       619     1767         2180        -         -     -      1     1
13       639     1843         2368        -         1     1      2     -
14       629     1753         2152        -         1     1      2     2
15       565     1500         1834        -         -     -      2     2
16       535     1421         1763        -         -     -      1     -
17       492     1642         1951        -         -     3      2     2
18       399     1182         1371        -         -     2      -     2
19       487     1347         1746        -         1     1      1     1
20       208      892          789        -         1     1      2     3
21       349      819         1157        -         -     -      -     -
22       305      760         1088        -         -     -      -     -
23       295      750         1022        -         -     -      -     1
24       197      520          633        -         -     -      -     -
25       295      716         1050        -         -     -      -     1
26       211      619          744        -         -     -      -     2
27       298      607          992        -         -     -      -     -
28       174      458          623        -         -     -      -     -
29       194      430          632        -         -     -      -     -
..       ...      ...          ...      ...       ...   ...    ...   ...
31       202      492          720        -         -     -      1     1
32       217      393          662        -         -     -      -     -
33       158      291          489        -         -     -      -     -
34       152      419          588        -         -     -      1     2
35       118      320          410        -         -     -      -     -
36       110      244          366        -         -     -      -     -
37       137      285          430        -         -     -      -     1
38        63      199          241        -         -     -      -     -
39        90      202          296        -         -     -      -     -
40        95      216          310        -         -     -      -     -
41        83      165          221        -         -     -      -     -
42        78      155          253        -         -     -      -     -
43        52      139          167        -         -     -      -     -
44        66      227          308        -         -     1      -     3
45        44      101          139        -         -     -      -     -
46        66      181          295        -         -     -      -     -
47        37       62          117        -         -     -      -     -
48        37       70          115        -         -     -      -     -
49        62      145          252        -         -     -      -     -
50        48      121          183        -         -     -      -     -
51        37      153          184        -         -     -      -     -
52        33       71          116        -         -     -      -     -
53        30       97          131        -         -     -      -     -
54        41       70          182        -         -     -      -     -
55        19       36           55        -         -     -      -     -
56        20       38           66        -         -     -      -     -
57        15       37           57        -         -     -      -     -
58        18       51           85        -         -     -      -     -
59        21       34           65        -         -     -      -     -
60         -        -            -        -         -     -      -     -

   Sixth   T    Debut Since/LastApp  BestPosition
0      4  79     1929          1929             1
1      6  83     1929          1929             1
2      6  56     1929       2002-03             1
3      7  50  1931-32       1987-88             1
4     10  49     1929          1929             1
5      6  32  1934-35       2001-02             1
6      5  16     1929       1994-95             3
7      3  19     1929       2010-11             1
8      4  18  1939-40       2012-13             2
9      4  14  1932-33       2015-16             1
10     1  12  1941-42       2014-15             1
11     5  11  1939-40       2012-13             4
12     1   3  1948-49       2013-14             4
13     1   5     1929       2011-12             2
14     1   7  1944-45       2015-16             2
15     2   6  1935-36       2016-17             4
16     1   2  1949-50       2008-09             4
17     4  11  1933-34       2000-01             3
18     1   5  1960-61       2012-13             3
19     1   5  1951-52       2015-16             2
20     2   9  1998-99       2013-14             2
21     2   2  1941-42       2016-17             6
22     -   -  1977-78       2015-16             8
23     1   2  1959-60       2014-15             5
24     1   1  2004-05       2015-16             6
25     4   5  1935-36       2010-11             5
26     -   2  1961-62       2009-10             5
27     -   -  1940-41       2007-08            11
28     1   1  1930-31       2016-17             6
29     1   1  1963-64       2015-16             6
..   ...  ..      ...           ...           ...
31     -   2  1943-44       1987-88             4
32     -   -  1977-78       2005-06            12
33     -   -  1987-88       1996-97             7
34     -   3  1941-42       1990-91             4
35     -   -  1991-92       2004-05             7
36     -   -  2007-08       2014-15             8
37     -   1  1962-63       2014-15             5
38     -   -  1994-95       1997-98            10
39     -   -  1978-79       2008-09             8
40     -   -  1971-72       1979-80            12
41     -   -  1963-64       1969-70             7
42     -   -  1999-00       2008-09            17
43     -   -  2014-15       2014-15            10
44     -   4     1929       1934-35             3
45     -   -  1990-91       1992-93             9
46     -   -  1947-48       2006-07             7
47     -   -  1996-97       1998-99            17
48     -   -  1995-96       1997-98            19
49     -   -  1945-46       1950-51            10
50     -   -  1953-54       1957-58            14
51     1   1     1929       1931-32             6
52     -   -  1979-80       1980-81            10
53     -   -     1929       1930-31             8
54     -   -  1950-51       1993-94            16
55     -   -  2016-17       2016-17            17
56     -   -  2009-10       2009-10            20
57     -   -  1956-57       1956-57            16
58     -   -  1951-52       1951-52            16
59     -   -  1955-56       1955-56            15
60     -   -  2017-18       2017-18             9

[61 rows x 20 columns]

In [4]:
# show column name
df.columns

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut',
       'Since/LastApp', 'BestPosition'],
      dtype='object')

In [5]:
# List of columns having - which has to be replaced with 0
columns_with_dash=['Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T']

In [6]:
# Replace '-' with '0'
upd_cols_with_zero=df[columns_with_dash].replace('-',0)

In [7]:
# Over write existing column of df data frame with dataframe having non dash values
df[columns_with_dash]=upd_cols_with_zero

# Check for the correctness of the data after replacing with Zero
print(df)

    Pos                 Team  Seasons Points GamesPlayed GamesWon GamesDrawn  \
0     1          Real Madrid       86   4385        2762     1647        552
1     2            Barcelona       86   4262        2762     1581        573
2     3      Atletico Madrid       80   3442        2614     1241        598
3     4             Valencia       82   3386        2664     1187        616
4     5      Athletic Bilbao       86   3368        2762     1209        633
5     6              Sevilla       73   2819        2408      990        531
6     7             Espanyol       82   2792        2626      948        608
7     8        Real Sociedad       70   2573        2302      864        577
8     9             Zaragoza       58   2109        1986      698        522
9    10           Real Betis       51   1884        1728      606        440
10   11  Deportivo La Coruna       45   1814        1530      563        392
11   12           Celta Vigo       51   1789        1698      586        389
12   13           Valladolid       42   1471        1466      463        384
13   14     Racing Santander       44   1416        1428      453        336
14   15       Sporting Gijon       43   1389        1458      471        358
15   16              Osasuna       37   1351        1318      426        327
16   17               Malaga       36   1314        1255      390        330
17   18               Oviedo       38   1174        1192      408        292
18   19             Mallorca       27   1148         988      333        256
19   20           Las Palmas       33   1020        1096      367        242
20   21           Villarreal       17    970         646      266        172
21   22              Granada       23    667         742      218        175
22   23       Rayo Vallecano       17    662         652      189        148
23   24                Elche       21    606         678      203        180
24   25               Getafe       12    553         456      147        112
25   26             Hercules       20    538         628      184        149
26   27             Tenerife       13    510         494      155        128
27   28               Murcia       18    445         586      145        143
28   29               Alaves       12    421         380      125         81
29   30              Levante       11    416         402      113         95
..  ...                  ...      ...    ...         ...      ...        ...
31   32             Sabadell       14    353         426      129         95
32   33                Cadiz       12    343         448      104        127
33   34             Logrones        9    293         346       96         92
34   35            Castellon       11    285         334      103         79
35   36             Albacete        7    277         270       76         76
36   37              Almeria        6    242         228       62         56
37   38              Cordoba        9    230         282       82         63
38   39           Compostela        4    190         160       52         45
39   40           Recreativo        5    188         186       50         46
40   41            Burgos CF        6    168         204       59         50
41   42           Pontevedra        6    150         180       53         44
42   43             Numancia        4    148         152       37         37
43   44                Eibar        3    132         114       35         27
44   45               Arenas        7    107         130       43         21
45   46          Real Burgos        3     96         114       26         44
46   47            Gimnastic        4     91         116       34         16
47   48          Extremadura        2     83          80       20         23
48   49               Merida        2     81          80       19         24
49   50             Alcoyano        4     76         108       30         16
50   51                 Jaen        3     71          90       29         13
51   52           Real Union        4     56          72       21         14
52   53           AD Almeria        2     52          68       17         18
53   54               Europa        3     42          54       18          6
54   55               Lleida        2     40          68       13         14
55   56              Leganes        1     35          38        8         11
56   57                Xerez        1     34          38        8         10
57   58               Condal        1     22          30        7          8
58   59      Atletico Tetuan        1     19          30        7          5
59   60     Cultural Leonesa        1     14          30        5          4
60   61               Girona        1      0           0        0          0

   GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth  \
0        563     5947         3140       33        23     8      8     3
1        608     5900         3114       25        25    12     12     4
2        775     4534         3309       10         8    16      9     7
3        861     4398         3469        6         6    10     11    10
4        920     4631         3700        8         7    10      5     8
5        887     3680         3373        1         4     4      5    12
6       1070     3609         3889        0         0     4      5     2
7        861     3228         3230        2         3     2      5     4
8        766     2683         2847        0         1     4      5     4
9        682     2159         2492        1         0     2      3     4
10       575     2052         2188        1         5     4      1     0
11       723     2278         2624        0         0     0      2     4
12       619     1767         2180        0         0     0      1     1
13       639     1843         2368        0         1     1      2     0
14       629     1753         2152        0         1     1      2     2
15       565     1500         1834        0         0     0      2     2
16       535     1421         1763        0         0     0      1     0
17       492     1642         1951        0         0     3      2     2
18       399     1182         1371        0         0     2      0     2
19       487     1347         1746        0         1     1      1     1
20       208      892          789        0         1     1      2     3
21       349      819         1157        0         0     0      0     0
22       305      760         1088        0         0     0      0     0
23       295      750         1022        0         0     0      0     1
24       197      520          633        0         0     0      0     0
25       295      716         1050        0         0     0      0     1
26       211      619          744        0         0     0      0     2
27       298      607          992        0         0     0      0     0
28       174      458          623        0         0     0      0     0
29       194      430          632        0         0     0      0     0
..       ...      ...          ...      ...       ...   ...    ...   ...
31       202      492          720        0         0     0      1     1
32       217      393          662        0         0     0      0     0
33       158      291          489        0         0     0      0     0
34       152      419          588        0         0     0      1     2
35       118      320          410        0         0     0      0     0
36       110      244          366        0         0     0      0     0
37       137      285          430        0         0     0      0     1
38        63      199          241        0         0     0      0     0
39        90      202          296        0         0     0      0     0
40        95      216          310        0         0     0      0     0
41        83      165          221        0         0     0      0     0
42        78      155          253        0         0     0      0     0
43        52      139          167        0         0     0      0     0
44        66      227          308        0         0     1      0     3
45        44      101          139        0         0     0      0     0
46        66      181          295        0         0     0      0     0
47        37       62          117        0         0     0      0     0
48        37       70          115        0         0     0      0     0
49        62      145          252        0         0     0      0     0
50        48      121          183        0         0     0      0     0
51        37      153          184        0         0     0      0     0
52        33       71          116        0         0     0      0     0
53        30       97          131        0         0     0      0     0
54        41       70          182        0         0     0      0     0
55        19       36           55        0         0     0      0     0
56        20       38           66        0         0     0      0     0
57        15       37           57        0         0     0      0     0
58        18       51           85        0         0     0      0     0
59        21       34           65        0         0     0      0     0
60         0        0            0        0         0     0      0     0

   Sixth   T    Debut Since/LastApp  BestPosition
0      4  79     1929          1929             1
1      6  83     1929          1929             1
2      6  56     1929       2002-03             1
3      7  50  1931-32       1987-88             1
4     10  49     1929          1929             1
5      6  32  1934-35       2001-02             1
6      5  16     1929       1994-95             3
7      3  19     1929       2010-11             1
8      4  18  1939-40       2012-13             2
9      4  14  1932-33       2015-16             1
10     1  12  1941-42       2014-15             1
11     5  11  1939-40       2012-13             4
12     1   3  1948-49       2013-14             4
13     1   5     1929       2011-12             2
14     1   7  1944-45       2015-16             2
15     2   6  1935-36       2016-17             4
16     1   2  1949-50       2008-09             4
17     4  11  1933-34       2000-01             3
18     1   5  1960-61       2012-13             3
19     1   5  1951-52       2015-16             2
20     2   9  1998-99       2013-14             2
21     2   2  1941-42       2016-17             6
22     0   0  1977-78       2015-16             8
23     1   2  1959-60       2014-15             5
24     1   1  2004-05       2015-16             6
25     4   5  1935-36       2010-11             5
26     0   2  1961-62       2009-10             5
27     0   0  1940-41       2007-08            11
28     1   1  1930-31       2016-17             6
29     1   1  1963-64       2015-16             6
..   ...  ..      ...           ...           ...
31     0   2  1943-44       1987-88             4
32     0   0  1977-78       2005-06            12
33     0   0  1987-88       1996-97             7
34     0   3  1941-42       1990-91             4
35     0   0  1991-92       2004-05             7
36     0   0  2007-08       2014-15             8
37     0   1  1962-63       2014-15             5
38     0   0  1994-95       1997-98            10
39     0   0  1978-79       2008-09             8
40     0   0  1971-72       1979-80            12
41     0   0  1963-64       1969-70             7
42     0   0  1999-00       2008-09            17
43     0   0  2014-15       2014-15            10
44     0   4     1929       1934-35             3
45     0   0  1990-91       1992-93             9
46     0   0  1947-48       2006-07             7
47     0   0  1996-97       1998-99            17
48     0   0  1995-96       1997-98            19
49     0   0  1945-46       1950-51            10
50     0   0  1953-54       1957-58            14
51     1   1     1929       1931-32             6
52     0   0  1979-80       1980-81            10
53     0   0     1929       1930-31             8
54     0   0  1950-51       1993-94            16
55     0   0  2016-17       2016-17            17
56     0   0  2009-10       2009-10            20
57     0   0  1956-57       1956-57            16
58     0   0  1951-52       1951-52            16
59     0   0  1955-56       1955-56            15
60     0   0  2017-18       2017-18             9

[61 rows x 20 columns]

#Print all teams started playing between 1930 and 1980

In [8]:
df.columns

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut',
       'Since/LastApp', 'BestPosition'],
      dtype='object')

In [10]:
df_debut_year=pd.DataFrame(df.Debut.str.split('-',1).tolist(),columns=['Debut_Year','Debut_cont_Year'])
print(df_debut_year)

   Debut_Year Debut_cont_Year
0        1929            None
1        1929            None
2        1929            None
3        1931              32
4        1929            None
5        1934              35
6        1929            None
7        1929            None
8        1939              40
9        1932              33
10       1941              42
11       1939              40
12       1948              49
13       1929            None
14       1944              45
15       1935              36
16       1949              50
17       1933              34
18       1960              61
19       1951              52
20       1998              99
21       1941              42
22       1977              78
23       1959              60
24       2004              05
25       1935              36
26       1961              62
27       1940              41
28       1930              31
29       1963              64
..        ...             ...
31       1943              44
32       1977              78
33       1987              88
34       1941              42
35       1991              92
36       2007              08
37       1962              63
38       1994              95
39       1978              79
40       1971              72
41       1963              64
42       1999              00
43       2014              15
44       1929            None
45       1990              91
46       1947              48
47       1996              97
48       1995              96
49       1945              46
50       1953              54
51       1929            None
52       1979              80
53       1929            None
54       1950              51
55       2016              17
56       2009              10
57       1956              57
58       1951              52
59       1955              56
60       2017              18

[61 rows x 2 columns]

In [11]:
df_debut_year.Debut_cont_Year=df_debut_year.Debut_Year.str[:2]+df_debut_year.Debut_cont_Year

In [ ]:
df_debut_year=df_debut_year.fillna(0)

In [12]:
df=df.join(df_debut_year)

In [13]:
df_last_app=pd.DataFrame(df['Since/LastApp'].str.split('-',1).tolist(),columns=['LastApp_Year','LastApp_cont_Year'])

In [14]:
df_last_app.LastApp_cont_Year=df_last_app.LastApp_Year.str[:2]+df_last_app.LastApp_cont_Year

In [15]:
df_last_app=df_last_app.fillna(0)

In [16]:
df=df.apply(pd.to_numeric, errors='ignore')

## Team started playing between 1930-1980

In [17]:
df.Team[(df.Debut_Year>=1930) & (df.Debut_Year<=1980)]

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

In [18]:
df.columns

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut',
       'Since/LastApp', 'BestPosition', 'Debut_Year', 'Debut_cont_Year'],
      dtype='object')

# Teams came top 5

In [19]:
df_top_team=df.nlargest(5,'Points')

In [20]:
# Top 5 teams in terms of points
df_top_team.Team

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

# Goal differences

In [21]:
def func(x):
    goal_diff_count=x.GoalsFor-x.GoalsAgainst
    return goal_diff_count

In [22]:
# Team goal difference
goal_diff=func(df)
print(goal_diff)

0     2807
1     2786
2     1225
3      929
4      931
5      307
6     -280
7       -2
8     -164
9     -333
10    -136
11    -346
12    -413
13    -525
14    -399
15    -334
16    -342
17    -309
18    -189
19    -399
20     103
21    -338
22    -328
23    -272
24    -113
25    -334
26    -125
27    -385
28    -165
29    -202
      ...
31    -228
32    -269
33    -198
34    -169
35     -90
36    -122
37    -145
38     -42
39     -94
40     -94
41     -56
42     -98
43     -28
44     -81
45     -38
46    -114
47     -55
48     -45
49    -107
50     -62
51     -31
52     -45
53     -34
54    -112
55     -19
56     -28
57     -20
58     -34
59     -31
60       0
Length: 61, dtype: int64

In [23]:
df['GoalDiff']=goal_diff

In [24]:
max_goal_diff=df.nlargest(1,'GoalDiff')

In [25]:
# Team with max goal diff
max_goal_diff.Team

0    Real Madrid
Name: Team, dtype: object

In [26]:
min_goal_diff=df.nsmallest(1,'GoalDiff')

In [27]:
# Team with min goal difference
min_goal_diff.Team

13    Racing Santander
Name: Team, dtype: object

# Add new Column

In [28]:
Percentage_of_wining=(df.GamesWon/df.GamesPlayed)*100

In [29]:
Percentage_of_wining.fillna(0)

0     59.630702
1     57.241130
2     47.475134
3     44.557057
4     43.772629
5     41.112957
6     36.100533
7     37.532580
8     35.146022
9     35.069444
10    36.797386
11    34.511190
12    31.582538
13    31.722689
14    32.304527
15    32.321700
16    31.075697
17    34.228188
18    33.704453
19    33.485401
20    41.176471
21    29.380054
22    28.987730
23    29.941003
24    32.236842
25    29.299363
26    31.376518
27    24.744027
28    32.894737
29    28.109453
        ...
31    30.281690
32    23.214286
33    27.745665
34    30.838323
35    28.148148
36    27.192982
37    29.078014
38    32.500000
39    26.881720
40    28.921569
41    29.444444
42    24.342105
43    30.701754
44    33.076923
45    22.807018
46    29.310345
47    25.000000
48    23.750000
49    27.777778
50    32.222222
51    29.166667
52    25.000000
53    33.333333
54    19.117647
55    21.052632
56    21.052632
57    23.333333
58    23.333333
59    16.666667
60     0.000000
Length: 61, dtype: float64

In [31]:
df['Percentage Of Winning']=Percentage_of_wining.fillna(0)

In [32]:
top_5_wining=df.nlargest(5,"Percentage Of Winning")

In [76]:
# Top 5 team with highest wining %
top_5_wining.Team

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

# Best Performance team

In [33]:
df.groupby(['BestPosition']).sum()

,Pos,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut_Year,Debut_cont_Year,GoalDiff,Percentage Of Winning
BestPosition,,,,,,,,,,,,,,,,,,,,
1,50,659,27933,21532,9888,4912,6732,36529,28015,87,81,68,59,52,47,394,17383,7742.0,8514,403.189019
2,79,195,6904,6614,2255,1630,2729,8518,9902,0,5,8,12,10,9,44,9761,7836.0,-1384,173.835110
3,89,154,5221,4936,1732,1177,2027,6660,7519,0,0,10,7,9,10,36,7751,3895.0,-859,137.110098
4,125,191,6563,6497,2097,1604,2796,7877,9709,0,0,0,8,10,9,27,11655,11661.0,-1832,190.611137
5,115,63,1884,2082,624,520,938,2370,3246,0,0,0,0,5,5,10,7817,7821.0,-876,119.694898
6,158,62,2113,2052,624,477,951,2380,3229,0,0,0,0,0,6,6,9767,7842.0,-849,151.787752
7,190,38,1186,1335,382,330,623,1379,1996,0,0,0,0,0,0,0,9862,9867.0,-617,143.726616
8,154,31,1134,1120,319,256,535,1303,1881,0,0,0,0,0,0,0,7891,5965.0,-578,116.395766
9,107,4,96,114,26,44,44,101,139,0,0,0,0,0,0,0,4007,4009.0,-38,22.807018
10,186,13,450,450,134,106,210,554,776,0,0,0,0,0,0,0,7932,7936.0,-222,115.979532
11,28,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940,1941.0,-385,24.744027
12,74,18,511,652,163,177,312,609,972,0,0,0,0,0,0,0,3948,3950.0,-363,52.135854
14,51,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953,1954.0,-62,32.222222
15,60,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955,1956.0,-31,16.666667
16,172,4,81,128,27,27,74,158,324,0,0,0,0,0,0,0,5857,5860.0,-166,65.784314
17,147,7,266,270,65,71,134,253,425,0,0,0,0,0,0,0,6011,5914.0,-172,70.394737
19,49,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995,1996.0,-45,23.750000
20,57,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009,2010.0,-28,21.052632